.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .cabecalho__tema button {
  border: 2px solid #f7f7f7;
  background: #1c1c1c;
  color: #ffffff;
}
