.cabecalho {
  display: flex;
}

@media screen and (min-width: 0) {
  .cabecalho {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .cabecalho {
    flex-direction: row;
    justify-content: space-between;
  }
}
