.perfil {
  display: flex;
}

.perfil__imagem {
  border-radius: 460px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-height: 160px;
}

.perfil__titulo {
  margin-left: 16px;
}

.titulo__nome {
  font-size: 36px;
  font-weight: 700;
}

.titulo__ocupacao {
  font-size: 24px;
  font-weight: 400;
}

@media screen and (min-width: 0) {
  .perfil {
    display: block;
    width: auto;
  }

  .perfil__imagem {
    margin-left: 0.5rem;
  }

  .perfil__titulo {
    margin-left: 0.5rem;
  }

  .titulo__nome {
    font-size: 32px;
  }

  .titulo__ocupacao {
    font-size: 20px;
  }
}

@media screen and (min-width: 620px) {
  .perfil {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .perfil__imagem {
    max-width: 160px;
    margin-left: 0;
  }

  .titulo__nome {
    font-size: 34px;
  }

  .titulo__ocupacao {
    font-size: 22px;
    margin-left: 3rem;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .perfil {
    width: auto;
  }

  .titulo__nome {
    font-size: 36px;
  }

  .titulo__ocupacao {
    font-size: 24px;
  }
}
