@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: 'Roboto', sans-serif;
}

.container {
  background: #ecf4ff;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  color: #1c1c1c;
  margin: 4rem;
  padding: 4rem;
}

@media screen and (min-width: 0) {
  .container {
    margin: 2.25rem;
    width: auto;
  }
}
